body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container1 {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
}

.form-group1 {
    margin-bottom: 20px;
}

#product-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group1 input[type="text"], input[type="number"] {
    width: 97%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#product-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#product-form button:hover {
    background-color: #0056b3;
}

#product-form input[type="file"] {
    display: none;
}

#product-form .custom-file-upload {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}


.custom-file-upload:hover {
    background-color: #0056b3;
}