.footer {
    background-color: #0b084e;
    color: white;
    text-align: center;
    padding: 2px;
    bottom: 0;
    position: fixed;
    width: 100%;
  }

  a{
    padding: 12px;
    display: inline-block;
  }
  